name: Upload Source to S3

on:
  push:
    branches:
      - main

env:
  AWS_REGION: ap-northeast-2
  S3_BUCKET_NAME: game-public-s3-bucket-123  # [확인]
  SOURCE_DIR: ./                # [중요] 현재 폴더 전체를 의미

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      # .git 폴더나 github 설정 파일은 굳이 올릴 필요 없으니 제외(exclude)
      - name: Upload to S3
        run: |
          aws s3 sync ${{ env.SOURCE_DIR }} s3://${{ env.S3_BUCKET_NAME }} \
            --delete \
            --exclude ".git/*" \
            --exclude ".github/*"